@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: YuGothic , sans-serif;
}

header {
  top: 0;
}

.container {
  width: 100%;
}

.navbar {
  background-color: #3F51B5;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar img {
  float: left;
  margin: 31px 0 30px 140px;
  width: 200px;
}

@media (max-width: 1024px) {
  .navbar img {
    margin: 31px 0 30px 80px;
    width: 220px;
  }
}

@media (max-width: 767px) {
  .navbar img {
    margin: 20px 0 20px 30px;
    width: 140px;
  }
}

.navbar .navbar-list {
  float: right;
  margin-right: 110px;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 1024px) {
  .navbar .navbar-list {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar .navbar-list {
    display: none;
  }
}

.navbar .navbar-list .navbar-item {
  float: left;
  font-size: 16p;
  padding: 40px 0 39px 0;
  margin-right: 30px;
}

.navbar .navbar-list a {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
}

.navbar .navbar-list a::after {
  border-bottom: solid 2px #f00;
  bottom: 0;
  content: "";
  display: block;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}

.navbar .navbar-list a:hover::after {
  width: 100%;
}

.navbar button {
  display: none;
}

@media (max-width: 1024px) {
  .navbar button {
    display: block;
    margin-top: 25px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .navbar button {
    display: block;
    margin-top: 5px;
    margin-right: 8px;
  }
}

@media (max-width: 480px) {
  .navbar button {
    display: block;
  }
}

.navbar .navbar-list {
  list-style: none;
}

.top-wrapper {
  width: 100%;
  background-size: cover;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.top-wrapper h1 {
  font-size: 68px;
  padding-top: 240px;
}

@media (max-width: 1024px) {
  .top-wrapper h1 {
    font-size: 60px;
  }
}

@media (max-width: 767px) {
  .top-wrapper h1 {
    padding-top: 200px;
    font-size: 35px;
  }
}

@media (max-width: 480px) {
  .top-wrapper h1 {
    font-size: 25px;
    padding-top: 150px;
  }
}

.top-wrapper h3 {
  margin-top: 0;
  font-size: 38px;
}

@media (max-width: 767px) {
  .top-wrapper h3 {
    font-size: 20px;
  }
}

.top-wrapper .btn {
  width: 390px;
  height: 83px;
  background-color: #3F51B5;
  border-radius: 12px;
  margin: 0 auto;
  margin-top: 76px;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 138px;
}

@media (max-width: 1024px) {
  .top-wrapper .btn {
    width: 300px;
    margin-bottom: 120px;
  }
}

@media (max-width: 767px) {
  .top-wrapper .btn {
    width: 180px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .top-wrapper .btn {
    width: 150px;
    height: 40px;
  }
}

.top-wrapper .btn a {
  font-size: 38px;
  padding: 17px 81px;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .top-wrapper .btn a {
    font-size: 30px;
    padding: 20px 60px;
  }
}

@media (max-width: 767px) {
  .top-wrapper .btn a {
    font-size: 20px;
    padding: 11px 30px;
  }
}

@media (max-width: 480px) {
  .top-wrapper .btn a {
    font-size: 15px;
  }
}

.top-wrapper .btn:hover {
  opacity: 0.6;
}

.swiper-container .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

@media (max-width: 480px) {
  .swiper-container .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}

.swiper-container .swiper-pagination-bullet-active {
  background: #2F7DC8;
}

.swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide-1 {
  background-image: url(image/mainvisual.png);
  background-size: cover;
}

.swiper-container .swiper-wrapper .swiper-slide-2 {
  background-image: url(image/richard-brutyo-G0giT3AAWIo-unsplash.jpg);
  background-size: cover;
}

.swiper-container .swiper-wrapper .swiper-slide-3 {
  background-image: url(image/roland-larsson-m2De0QR_tWo-unsplash.jpg);
  background-size: cover;
}

.swiper-container .swiper-wrapper .swiper-slide-4 {
  background-image: url(image/banter-snaps-eY7ETwocMyU-unsplash.jpg);
  background-size: cover;
}

.swiper-container .swiper-wrapper .swiper-slide-5 {
  background-image: url(image/christian-fregnan-_S7RxStzo3A-unsplash.jpg);
  background-size: cover;
}

.swiper-container .swiper-button-prev, .swiper-container .swiper-button-next {
  width: 75px;
  height: 75px;
  background-size: 75px 75px;
  margin: 0 10%;
  margin-top: 2%;
}

@media (max-width: 1024px) {
  .swiper-container .swiper-button-prev, .swiper-container .swiper-button-next {
    width: 50px;
    height: 50px;
    margin: 0 5%;
  }
}

@media (max-width: 767px) {
  .swiper-container .swiper-button-prev, .swiper-container .swiper-button-next {
    margin: 0 3%;
    margin-top: 5%;
  }
}

@media (max-width: 480px) {
  .swiper-container .swiper-button-prev, .swiper-container .swiper-button-next {
    display: none;
  }
}

.swiper-container .swiper-button-prev:hover, .swiper-container .swiper-button-next:hover {
  opacity: 0.9;
}

.swiper-container .swiper-button-prev::after, .swiper-container .swiper-button-next::after {
  display: none;
}

.swiper-container .swiper-button-prev {
  background: url(image/arrow-prev.png) no-repeat center center/contain;
}

.swiper-container .swiper-button-next {
  background: url(image/arrow-next.png) no-repeat center center/contain;
}

#card {
  margin-top: -100px;
  padding-top: 80px;
}

@media (max-width: 1024px) {
  #card {
    margin-top: -50px;
    padding-top: 50px;
  }
}

.card {
  background-color: #EFEFEF;
  height: 100%;
}

.card h1 {
  font-size: 60px;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 38px;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 767px) {
  .card h1 {
    font-size: 40px;
    padding-top: 40px;
    margin-bottom: 30px;
  }
}

.card .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .mark hr {
  margin: auto;
  margin-bottom: 68px;
}

@media (max-width: 767px) {
  .card .mark hr {
    margin-bottom: 50px;
  }
}

.card-section {
  padding-bottom: 110px;
}

@media (max-width: 767px) {
  .card-section {
    padding-bottom: 50px;
  }
}

.card-section .card-item {
  width: 342px;
  height: 355px;
  background-color: #FFFFFF;
  margin: 0 15px 20px;
  border-radius: 8px;
}

@media (max-width: 767px) {
  .card-section .card-item {
    width: 270px;
    height: 280px;
  }
}

.card-section .card-item .card-image {
  width: 310px;
  height: 161px;
  padding: 16px;
  border-radius: 20px;
}

@media (max-width: 767px) {
  .card-section .card-item .card-image {
    width: 240px;
    height: 120px;
  }
}

.card-section .card-item .card-title {
  padding-left: 16px;
  font-size: 18px;
  color: #6F7579;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 767px) {
  .card-section .card-item .card-title {
    font-size: 15px;
  }
}

.card-section .card-item .card-text {
  padding: 10px 16px 28px;
  font-size: 16px;
  color: #6F7579;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 767px) {
  .card-section .card-item .card-text {
    font-size: 14px;
  }
}

#news {
  margin-top: -100px;
  padding-top: 80px;
}

@media (max-width: 1024px) {
  #news {
    margin-top: -50px;
    padding-top: 50px;
  }
}

.news {
  background-color: #ffffff;
  height: 100%;
  text-align: center;
}

.news h1 {
  font-size: 60px;
  padding-top: 60px;
  margin-bottom: 38px;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 767px) {
  .news h1 {
    font-size: 40px;
    padding-top: 40px;
    margin-bottom: 30px;
  }
}

.news .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .mark hr {
  margin: auto;
  margin-bottom: 68px;
}

@media (max-width: 767px) {
  .news .mark hr {
    margin-bottom: 50px;
  }
}

.news {
  margin-bottom: 40px;
}

.news a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .news a {
    font-size: 10px;
  }
}

.news .news-section {
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .news .news-section {
    width: 600px;
  }
}

@media (max-width: 767px) {
  .news .news-section {
    width: 250px;
  }
}

.news .news-section .news-content {
  border-bottom: solid 1px #707070;
  float: left;
  margin-bottom: 18.5px;
}

@media (max-width: 767px) {
  .news .news-section .news-content {
    width: 250px;
  }
}

.news .news-section .news-content h5 {
  color: #333333;
  font-size: 16px;
  font-weight: normal;
}

@media (max-width: 767px) {
  .news .news-section .news-content h5 {
    font-size: 11px;
    text-align: left;
  }
}

.news .news-section .news-content .news-day {
  width: 90px;
  height: 21px;
  margin-right: 30px;
  float: left;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 1024px) {
  .news .news-section .news-content .news-day {
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .news .news-section .news-content .news-day {
    width: 70px;
  }
}

.news .news-section .news-content .news-label-1 {
  background-color: #666666;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  margin-right: 30px;
  float: left;
  margin-bottom: 16.5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 1024px) {
  .news .news-section .news-content .news-label-1 {
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .news .news-section .news-content .news-label-1 {
    margin-right: 5px;
    width: 60px;
    height: 25px;
    margin: 5px 0;
  }
}

.news .news-section .news-content .news-label-1 a {
  display: inline-block;
  color: #ffffff;
  padding: 4px 18px;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 767px) {
  .news .news-section .news-content .news-label-1 a {
    display: inline-block;
    padding: 0;
  }
}

.news .news-section .news-content .news-label-1:hover {
  opacity: 0.6;
}

.news .news-section .news-content .news-label-2 {
  background-color: #3F51B5;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  margin-right: 30px;
  float: left;
  margin-bottom: 16.5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 1024px) {
  .news .news-section .news-content .news-label-2 {
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .news .news-section .news-content .news-label-2 {
    margin-right: 5px;
    width: 60px;
    height: 25px;
    margin-bottom: 5px;
  }
}

.news .news-section .news-content .news-label-2 a {
  color: #ffffff;
  display: inline-block;
  padding: 4px 18px;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 767px) {
  .news .news-section .news-content .news-label-2 a {
    display: inline-block;
    padding: 0;
  }
}

.news .news-section .news-content .news-label-2:hover {
  opacity: 0.6;
}

.news .news-section .news-content .news-label-3 {
  background-color: #E81919;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  margin-right: 30px;
  float: left;
  margin-bottom: 16.5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 1024px) {
  .news .news-section .news-content .news-label-3 {
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .news .news-section .news-content .news-label-3 {
    margin-right: 5px;
    width: 60px;
    height: 25px;
    margin-bottom: 5px;
  }
}

.news .news-section .news-content .news-label-3 a {
  color: #ffffff;
  display: inline-block;
  padding: 4px 18px;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 767px) {
  .news .news-section .news-content .news-label-3 a {
    display: inline-block;
    padding: 0;
  }
}

.news .news-section .news-content .news-label-3:hover {
  opacity: 0.6;
}

.news .news-section .news-content .news-text {
  width: 576px;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 1024px) {
  .news .news-section .news-content .news-text {
    width: 350px;
  }
}

@media (max-width: 767px) {
  .news .news-section .news-content .news-text {
    width: 250px;
  }
}

.news .news-section .news-content .news-text a {
  display: inline-block;
  text-align: left;
  padding-bottom: 17px;
}

.news .news-section .news-content .news-text:hover {
  opacity: 0.6;
}

.news .more {
  color: #E81919;
  display: inline-block;
  margin-bottom: 29px;
  font-weight: bold;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: 'Lato', sans-serif;
}

.news .more::after {
  position: absolute;
  content: "\f105";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  top: 58.5%;
  right: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #E81919;
}

.news .more:hover {
  opacity: 0.6;
}

#price {
  margin-top: -100px;
  padding-top: 80px;
}

@media (max-width: 1024px) {
  #price {
    margin-top: -50px;
    padding-top: 50px;
  }
}

.price {
  background-color: #EFEFEF;
  height: 100%;
  text-align: center;
  padding-bottom: 102px;
}

.price h1 {
  font-size: 60px;
  padding-top: 60px;
  margin-bottom: 38px;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 767px) {
  .price h1 {
    font-size: 40px;
    padding-top: 40px;
    margin-bottom: 30px;
  }
}

.price .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price .mark hr {
  margin: auto;
  margin-bottom: 68px;
}

@media (max-width: 1024px) {
  .price .mark hr {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .price .mark hr {
    margin-bottom: 20px;
  }
}

.price .price-img {
  margin: 0 122px 30px 0;
}

@media (max-width: 1024px) {
  .price .price-img {
    margin: 40px 50px;
  }
}

@media (max-width: 767px) {
  .price .price-img {
    margin: 30px auto;
  }
}

.price .price-img img {
  display: inline-block;
}

@media (max-width: 767px) {
  .price .price-img img {
    width: 280px;
  }
}

.price .table-wrapper p {
  text-align: left;
  font-size: 16px;
  margin-top: 20px;
}

.price .table-wrapper p a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.price .table-wrapper p a:hover {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .price .table-wrapper p {
    font-size: 12px;
  }
}

.price .table-price {
  border: 1px solid #707070;
  border-collapse: collapse;
  table-layout: fixed;
  width: 608px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .price .table-price {
    width: 280px;
    font-size: 14px;
  }
}

.price .table-price span {
  color: #f00;
  font-family: 'Noto Sans JP', sans-serif;
}

.price .table-price h6 {
  font-size: 14px;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 767px) {
  .price .table-price h6 {
    font-size: 10px;
  }
}

.price .table-price th {
  background-color: #999999;
  color: #ffffff;
  padding: 14px 17px;
  font-family: 'Lato', sans-serif;
}

.price .table-price th:first-child {
  width: 160px;
  text-align: center;
}

@media (max-width: 767px) {
  .price .table-price th:first-child {
    width: 40px;
  }
}

.price .table-price td:first-child {
  background-color: #999999;
  color: #ffffff;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.price .table-price td {
  text-align: right;
  padding: 14px 17px;
}

.price .table-price th,
.price .table-price td {
  border: 1px solid #707070;
  border-collapse: collapse;
}

#access {
  margin-top: -100px;
  padding-top: 80px;
}

@media (max-width: 1024px) {
  #access {
    margin-top: -50px;
    padding-top: 50px;
  }
}

.access {
  background-color: #ffffff;
  height: 100%;
  text-align: center;
}

.access h1 {
  font-size: 60px;
  padding-top: 60px;
  margin-bottom: 38px;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 767px) {
  .access h1 {
    font-size: 40px;
    padding-top: 40px;
    margin-bottom: 30px;
  }
}

.access .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.access .mark hr {
  margin: auto;
  margin-bottom: 68px;
}

@media (max-width: 767px) {
  .access .mark hr {
    margin-bottom: 50px;
  }
}

.access .iframe-wrap {
  display: inline-block;
  position: relative;
  padding-top: 35%;
  /* = height ÷ width × 100 */
  width: 70%;
  text-align: center;
}

.access .iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access h4 {
  display: inline-block;
  width: 70%;
  color: #333333;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  margin-top: 40px;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 1024px) {
  .access h4 {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .access h4 {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .access h4 {
    font-size: 8px;
  }
}

.access h5 {
  display: inline-block;
  width: 70%;
  color: #333333;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  margin-top: 15px;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 1024px) {
  .access h5 {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .access h5 {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .access h5 {
    font-size: 8px;
  }
}

.access .btn {
  border-radius: 12px;
  position: relative;
  background-color: #3F51B5;
  width: 305px;
  height: 56px;
  margin: 38px auto 136px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 480px) {
  .access .btn {
    width: 130px;
    height: 30px;
    margin: 30px auto 60px;
  }
}

.access .btn a {
  text-decoration: none;
}

.access .btn a p {
  padding: 17px 30px 14px 20px;
  color: #ffffff;
}

@media (max-width: 480px) {
  .access .btn a p {
    font-size: 8px;
    padding: 9px 20px 10px 10px;
  }
}

.access .btn:hover {
  opacity: 0.6;
}

.access .btn::after {
  position: absolute;
  content: "\f105";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  top: 53%;
  right: 11px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #FFFFFF;
}

#contact {
  margin-top: -100px;
  padding-top: 80px;
}

@media (max-width: 1024px) {
  #contact {
    margin-top: -50px;
    padding-top: 50px;
  }
}

.contact {
  background-color: #EFEFEF;
  height: 100%;
  text-align: center;
  padding-bottom: 116px;
}

.contact h1 {
  font-size: 60px;
  padding-top: 60px;
  margin-bottom: 38px;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 767px) {
  .contact h1 {
    font-size: 40px;
    padding-top: 40px;
    margin-bottom: 30px;
  }
}

.contact .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .mark hr {
  margin: auto;
  margin-bottom: 68px;
}

@media (max-width: 767px) {
  .contact .mark hr {
    margin-bottom: 50px;
  }
}

.contact .contact-wrap {
  width: 59%;
  background-color: #ffffff;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .contact .contact-wrap {
    width: 65%;
  }
}

@media (max-width: 767px) {
  .contact .contact-wrap {
    width: 75%;
  }
}

.contact .contact-wrap .contact-form {
  padding-top: 52px;
}

@media (max-width: 767px) {
  .contact .contact-wrap .contact-form {
    padding-top: 15px;
  }
}

.contact .contact-wrap .contact-form .contact-subject {
  text-align: left;
  width: 144px;
  height: 55px;
  margin-right: 35px;
}

@media (max-width: 1024px) {
  .contact .contact-wrap .contact-form .contact-subject {
    text-align: center;
    margin-right: 0;
  }
}

.contact .contact-wrap .contact-form .contact-subject p {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 767px) {
  .contact .contact-wrap .contact-form .contact-subject p {
    font-size: 12px;
  }
}

.contact .contact-wrap .contact-form .contact-subject .must {
  font-size: 14px;
  color: #ffffff;
  background-color: #E81919;
  text-align: center;
  border-radius: 12px;
  padding-top: 4px;
  width: 46px;
  height: 23px;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 1024px) {
  .contact .contact-wrap .contact-form .contact-subject .must {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .contact .contact-wrap .contact-form .contact-subject .must {
    font-size: 10px;
    width: 35px;
    height: 18px;
  }
}

.contact .contact-wrap .contact-form input, .contact .contact-wrap .contact-form select {
  display: inline-block;
  width: 63%;
  height: 60px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .contact .contact-wrap .contact-form input, .contact .contact-wrap .contact-form select {
    width: 80%;
    height: 30px;
  }
}

.contact .contact-wrap .contact-form textarea {
  width: 63%;
  height: 240px;
  margin-bottom: 41px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .contact .contact-wrap .contact-form textarea {
    width: 80%;
    height: 100px;
  }
}

.contact .contact-wrap .radio {
  font-size: 16px;
  width: 369px;
  margin-left: 57px;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .contact .contact-wrap .radio {
    font-size: 11px;
    width: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

.contact .contact-wrap .radio label {
  margin-right: 30px;
}

.contact .contact-wrap .check-box {
  text-align: center;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .contact .contact-wrap .check-box {
    margin-bottom: 15px;
  }
}

.contact .contact-wrap .check-box a {
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 767px) {
  .contact .contact-wrap .check-box a {
    margin-left: 10px;
    font-size: 12px;
  }
}

.contact .contact-wrap .check-box span {
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 767px) {
  .contact .contact-wrap .check-box span {
    font-size: 12px;
  }
}

.contact .contact-wrap .submit-btn {
  text-align: center;
}

.contact .contact-wrap .submit-btn .submit {
  display: inline-block;
  width: 30%;
  height: 56px;
  background-color: #3F51B5;
  font-size: 22px;
  color: #ffffff;
  border-radius: 12px;
  margin-bottom: 40px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: 'Noto Sans JP', sans-serif;
  cursor: pointer;
}

@media (max-width: 767px) {
  .contact .contact-wrap .submit-btn .submit {
    width: 50%;
    font-size: 12px;
    height: 30px;
    margin-bottom: 20px;
  }
}

.contact .contact-wrap .submit:hover {
  opacity: 0.6;
}

.contact .contact-wrap .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-wrap {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #666666 0%, #333333 100%) 0% 0% no-repeat padding-box;
}

.footer-wrap .footer-top {
  padding: 83px 152px 31px;
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .footer-wrap .footer-top {
    padding: 50px 60px 0;
    float: left;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .footer-wrap .footer-top {
    padding: 30px 20px 0;
    text-align: center;
    margin-bottom: 20px;
  }
}

.footer-wrap .footer-top img {
  margin-right: 152px;
  width: 200px;
  height: 39px;
}

@media (max-width: 1024px) {
  .footer-wrap .footer-top img {
    width: 150px;
    height: 30px;
    margin-right: 70px;
  }
}

@media (max-width: 767px) {
  .footer-wrap .footer-top img {
    width: 100px;
    height: 20px;
    margin-right: 0;
  }
}

.footer-wrap .footer-top .footer-list {
  display: inline-block;
  width: 400px;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 767px) {
  .footer-wrap .footer-top .footer-list {
    width: 270px;
  }
}

.footer-wrap .footer-top .footer-list .footer-item {
  display: inline-block;
  list-style: none;
  margin-right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .footer-wrap .footer-top .footer-list .footer-item {
    margin-left: 10px;
    margin-right: 5px;
  }
}

.footer-wrap .footer-top .footer-list .footer-item a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
}

@media (max-width: 767px) {
  .footer-wrap .footer-top .footer-list .footer-item a {
    font-size: 11px;
  }
}

.footer-wrap .footer-top .footer-list .footer-item:hover {
  opacity: 0.6;
}

.footer-wrap .footer-top .sns-list {
  list-style: none;
  width: 150px;
  float: right;
}

@media (max-width: 1024px) {
  .footer-wrap .footer-top .sns-list {
    margin-top: 30px;
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .footer-wrap .footer-top .sns-list {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
  }
}

.footer-wrap .footer-top .sns-list li {
  float: left;
  margin-right: 16px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .footer-wrap .footer-top .sns-list li {
    width: 20px;
    height: 20px;
  }
}

.footer-wrap .footer-top .sns-list li a {
  display: block;
  width: 30px;
  height: 30px;
}

@media (max-width: 767px) {
  .footer-wrap .footer-top .sns-list li a {
    width: 20px;
    height: 20px;
  }
}

.footer-wrap .footer-top .sns-list li a .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .footer-wrap .footer-top .sns-list li a .fa {
    font-size: 12px;
  }
}

.footer-wrap .footer-top .sns-list li:hover {
  opacity: 0.6;
}

.footer-wrap .footer-top .sns-list .twitter {
  background-color: #55acee;
}

.footer-wrap .footer-top .sns-list .twitter i {
  color: #ffffff;
}

.footer-wrap .footer-top .sns-list .facebook {
  background-color: #315096;
}

.footer-wrap .footer-top .sns-list .facebook i {
  color: #ffffff;
}

.footer-wrap .footer-top .sns-list .instagram {
  background-color: #D93177;
}

.footer-wrap .footer-top .sns-list .instagram i {
  color: #ffffff;
}

.footer-wrap .footer-middle {
  text-align: left;
  padding: 0 152px 91px;
}

@media (max-width: 1024px) {
  .footer-wrap .footer-middle {
    padding: 0 60px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .footer-wrap .footer-middle {
    padding: 30px 30px 0;
  }
}

.footer-wrap .footer-middle p {
  margin-bottom: 13px;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 767px) {
  .footer-wrap .footer-middle p {
    font-size: 9px;
    margin-bottom: 10px;
  }
}

.footer-wrap .footer-bottom {
  padding-bottom: 31px;
}

.footer-wrap .footer-bottom p {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 767px) {
  .footer-wrap .footer-bottom p {
    font-size: 9px;
  }
}

.floating {
  height: 40px;
  width: 45px;
  position: fixed;
  right: 15px;
  bottom: 20px;
  display: none;
  background-color: #3F51B5;
}

.floating::after {
  position: absolute;
  content: "\f106";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  top: 50%;
  right: 7px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
}

.floating a {
  display: block;
  color: #fff;
  background: #3F51B5;
  padding: 8px;
  text-decoration: none;
  opacity: 0.8;
}

.floating a:hover {
  opacity: 1;
}
/*# sourceMappingURL=company.css.map */